@using EntityLayer.Concrete
@model List<Cast>
@{
    ViewData["Title"] = "Cast_Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-borderless">
    <thead>
        <tr>
            <th>Name Surname</th>
            <th>Case</th>
            <th></th>
            <th></th>
            
        </tr>
       
    </thead>
   
    <tbody>
        @foreach (var item in Model)
        {
            
            <tr>
                <td>@item.CastNameSurname</td>                
                <td>@item.IsDelete</td>                
                <td>
                    <button type="button" class="btn btn-outline-danger text-center" data-bs-whatever="@item.CastId" data-bs-toggle="modal" data-bs-target="#decisionPopup"><i class="fas fa-trash"></i> </button>
                </td>
                <td><a href="/Cast/Cast_Update/@item.CastId" type="button" class="btn btn-primary p-2">Update</a></td>
                
            </tr>
            
        }
        

    </tbody>
</table>
<div class="text-center d-flex justify-content-start p-2">
    <a href="/Cast/Cast_Add" class="btn btn-warning">New Cast Add</a>
</div>

<!-- Modal -->
@*#decisionPopup Model*@

<div class="modal fade" id="decisionPopup" tabindex="=-1" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="deleteLabel">Uyarı</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="delete-btn" href="" class="btn btn-success">Yes</a>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#decisionPopup').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var CastId = button.attr('data-bs-whatever');
            console.log(CastId);
            var a = document.querySelector("#delete-btn");
            a.href = "/Cast/Cast_Delete/" + CastId;
        });
    });
</script>
