@using EntityLayer.Concrete
@model Cast
@{
    ViewData["Title"] = "Cast_Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("Cast_Add", "Cast", FormMethod.Post, new { @class = "form-group" }))
{

    @Html.Label("Name Surname")
    @Html.TextBoxFor(m=>m.CastNameSurname,new { @class = "form-control" })

    <br />
    @Html.Label("Status")
    <select class="form-control" name="IsDelete">

        <option>True</option>
        <option selected>False</option>

    </select>
    <br />
    <input class=" btn btn-primary" type="submit" value="Add" />
}


