@using EntityLayer.Concrete
@model Genre
@{
	ViewData["Title"] = "Genre_Add";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Genre_Add", "Genre", FormMethod.Post, new { @class = "form-group" }))
{

	@Html.Label("Genre Name")
	@Html.TextBoxFor(m=>m.GenreName,new { @class = "form-control", @placeholder="Genre Name" })
	<br />

	@Html.Label("Status")
	<select class="form-select" name="IsDelete">
		<option selected>False</option>
		<option>True</option>
	</select>
	<br />

	<input class=" btn btn-primary" type="submit" value="Add" />
}


