@using EntityLayer.Concrete
@model Category
@{
    ViewData["Title"] = "Category_Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Category Adding Page</h2>
<br />

@using (Html.BeginForm("Category_Add", "Category", FormMethod.Post, new { @class = "form-group" }))
{

    @Html.Label("Category Name")
    @Html.TextBoxFor(m=>m.CategoryName,new { @class = "form-control" })

            <br />
    @Html.Label("Status")
            <select class="form-control" name="IsDelete">

                <option>True</option>
                <option selected>False</option>

            </select>
            <br />
            <input class=" btn btn-primary" type="submit" value="Add" />
}

