@using EntityLayer.Concrete
@model Background

@{
	ViewData["Title"] = "Background_Add";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
	<h3>Add Background</h3>
	@using (Html.BeginForm("Background_Add", "Background", FormMethod.Post, new { @class = "form-group" }))
	{
		<label>Color Name</label>
		@*<input class="form-control" type="text" name="firmaId" />*@
		 @Html.DropDownListFor(m=>m.Color.ColorId,(List<SelectListItem>)ViewBag.value,"Select Color", new { @class="form-control"})


		<input class="form-control btn btn-primary" type="submit" value="Ekle" />
	}
</div>
