@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="google-site-verification"
		  content="AVQVS1iNIF9nVgnTTsRcmptAkXDbhLdoCGIIz2hubMU" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="~/firstPage/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="~/firstPage/public/css/main.min.css" />
	<script src="~/firstPage/public/js/script.js" type="module" defer></script>
	<title>OlaTv</title>
</head>
<body>
	<main>
		<div class="hero__wrapper">
			<header>
				<div class="container">
					<section class="header">
						<span class="header__logo-wrapper">
							<img class="header__logo" src="~/firstPage/assets/logo.png" alt="Logo" />
						</span>
						<div class="header__right-group">
							<div class="header__lang-dropdown lang-dropdown"
								 name="lang-dropdown"
								 id="lang-dropdown">
								<span class="lang-dropdown-plc">English &#127760;</span>
								<div class="lang-dropdown-opts hidden">
									<span class="header__lang-dropdown-opt lang-dropdown-opt"
										  value="english">
										English
									</span>
									<span class="header__lang-dropdown-opt lang-dropdown-opt"
										  value="turkish">Turkish</span>
								</div>
							</div>
							<button class="header__button btn-primary"><a href="../Login/Login_Index">Sign In</a></button>
						</div>
					</section>
				</div>
			</header>
			<div id="hero">
				<div class="container">
					<section class="hero">
						<h1>Unlimited movies, TV shows, and more.</h1>
						<h2>Watch anywhere. Cancel anytime.</h2>
						<h3>
							Ready to watch? Enter your email to create or restart your
							membership.
						</h3>
						<div class="input-group">
							<div class="input-box">
								<input type="email" />
								<label>Email address</label>
							</div>
							<button>
								<span> Get Started </span>
								<svg viewBox="0 0 6 12" xmlns="http://www.w3.org/2000/svg">
									<path d="M.61 1.312l.78-.624L5.64 6l-4.25 5.312-.78-.624L4.36 6z"
										  fill="#fff"
										  fill-rule="evenodd"></path>
								</svg>
							</button>
						</div>
					</section>
				</div>
			</div>
		</div>
		<div class="showcase__contaier">
			<div id="showcase">
				<div class="container">
					<section class="showcase">
						<div class="showcase__content">
							<h1>Enjoy on your TV.</h1>
							<h2>
								Watch on smart TVs, Playstation, Xbox, Chromecast, Apple TV,
								Blue-ray players, and more
							</h2>
						</div>
						<div class="showcase__img-wrapper">
							<img src="~/firstPage/assets/tv.png" alt="tv" />
							<div class="showcase__video-wrapper">
								<video src="~/firstPage/assets/video-tv-0819.m4v"
									   autoplay
									   loop
									   muted></video>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div id="showcase">
				<div class="container">
					<section class="showcase flex-reversed">
						<div class="showcase__content">
							<h1>Download your shows to watch offline.</h1>
							<h2>
								Save your favorites easily and always have something to watch.
							</h2>
						</div>
						<div class="showcase__img-wrapper showcase__second">
							<img src="~/firstPage/assets/mobile-0819.jpg" alt="tv" />
							<div class="showcase__img-overlay">
								<img src="~/firstPage/assets/download-icon.gif" />
								<div>
									<h3>Stranger Things</h3>
									<p>Downloading...</p>
								</div>
								<img src="~/firstPage/assets/stranger-things.png" alt="boxshot" />
							</div>
						</div>
					</section>
				</div>
			</div>
			<div id="showcase">
				<div class="container">
					<section class="showcase">
						<div class="showcase__content">
							<h1>Watch everywhere.</h1>
							<h2>
								Stream unlimited movies and TV shows on your phone, tablet,
								laptop, and TV without paying more.
							</h2>
						</div>
						<div class="showcase__img-wrapper">
							<img src="~/firstPage/assets/device-pile.png" alt="tv" />
							<div class="showcase__mac-video-wrapper">
								<video src="~/firstPage/assets/video-devices.m4v"
									   autoplay
									   loop
									   muted></video>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div id="showcase">
				<div class="container">
					<section class="showcase flex-reversed">
						<div class="showcase__content">
							<h1>Create profiles for kids.</h1>
							<h2>
								Send kids on adventures with their favorite characters in a
								space made just for them—free with your membership.
							</h2>
						</div>
						<div class="showcase__img-wrapper">
							<img width="500" src="~/firstPage/assets/kids-showcase.png" alt="tv" />
						</div>
					</section>
				</div>
			</div>
		</div>
		<div id="faq">
			<div class="container">
				<section class="faq__wrapper">

					<h3 class="faq__input-header">
						Ready to watch? Enter your email to create or restart your
						membership.
					</h3>
					<div class="input-group">
						<div class="input-box">
							<input type="email" />
							<label>Email address</label>
						</div>
						<button>
							<span> Get Started </span>
							<svg viewBox="0 0 6 12" xmlns="http://www.w3.org/2000/svg">
								<path d="M.61 1.312l.78-.624L5.64 6l-4.25 5.312-.78-.624L4.36 6z"
									  fill="#fff"
									  fill-rule="evenodd"></path>
							</svg>
						</button>
					</div>
				</section>
			</div>
		</div>
		<footer>
			<div class="container">
				<div class="footer__content">
					<h3><a href="#contact">Questions? Contact us.</a></h3>
					<nav class="footer__nav">
						<ul class="footer__nav-links">
							<li><a href="">FAQ</a></li>
							<li><a href="">Investor Relations</a></li>
							<li><a href="">Ways to Watch</a></li>
							<li><a href="">Corporate Information</a></li>
							<li><a href="">Legal Notices</a></li>
						</ul>
						<ul class="footer__nav-links">
							<li><a href="">Help Center</a></li>
							<li><a href="">Jobs</a></li>
							<li><a href="">Terms of Use</a></li>
							<li><a href="">Contact Us</a></li>
							<li><a href="">Only on Netflix</a></li>
						</ul>
						<ul class="footer__nav-links">
							<li><a href="">Account</a></li>
							<li><a href="">Redeem Gift Cards</a></li>
							<li><a href="">Privacy</a></li>
							<li><a href="">Speed Test</a></li>
						</ul>
						<ul class="footer__nav-links">
							<li><a href="">Media Center</a></li>
							<li><a href="">Buy Gift Cards</a></li>
							<li><a href="">Cookie Preferences</a></li>
							<li><a href="">Legal Guarantee</a></li>
						</ul>
					</nav>
					<div class="footer__lang-dropdown lang-dropdown-f"
						 name="lang-dropdown"
						 id="lang-dropdown">
						<span class="footer__lang-dropdown-plc">&#127760; English</span>
						<div class="footer__lang-dropdown-opts lang-dropdown-opts-f hidden">
							<span class="footer__lang-dropdown-opt" value="english">English</span>
							<span class="footer__lang-dropdown-opt" value="turkish">Turkish</span>
						</div>
					</div>
					<p>OlaTv Turkiye</p>
				</div>
			</div>
		</footer>
	</main>
</body>
</html>
