@using EntityLayer.Concrete
@model TextSize
@{
	ViewData["Title"] = "TextSize_Add";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("TextSize_Add", "TextSize", FormMethod.Post, new { @class = "form-group" }))
{

	@Html.Label("Text Size Name")
	@Html.TextBoxFor(m=>m.TextSizeName,new { @class = "form-control", @placeholder="Text Size Name" })
	<br />

	@Html.Label("Status")
	<select class="form-select" name="IsDelete">
		<option selected>False</option>
		<option>True</option>
	</select>
	<br />

	<input class=" btn btn-primary" type="submit" value="Add" />
}


