@using EntityLayer.Concrete
@model TextSize
@{
    ViewData["Title"] = "TextSize_Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("TextSize_Add", "TextSize", FormMethod.Post, new { @class = "form-group" }))
{

    @Html.Label("Text Size Name")
    @Html.TextBoxFor(textsize=>textsize.TextSizeName,new { @class = "form-control" })

        <br />
    @Html.Label("Durum")
        <select class="form-control" name="IsDelete">

            <option >True</option>
            <option selected>False</option>

        </select>
        <br />
        <input class=" btn btn-primary" type="submit" value="Add" />
}


