@using EntityLayer.Concrete
@model EntityLayer.Concrete.Type
@{
	ViewData["Title"] = "Type_Add";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Type_Add", "Type", FormMethod.Post, new { @class = "form-group" }))
{

	@Html.Label("Type Name")
	@Html.TextBoxFor(m=>m.TypeName,new { @class = "form-control", @placeholder="Type Name" })
	<br />

	@Html.Label("Status")
	<select class="form-select" name="IsDelete">
		<option selected>False</option>
		<option>True</option>
	</select>
	<br />

	<input class=" btn btn-primary" type="submit" value="Add" />
}


