@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Netflix</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="google" value="notranslate" />
	<meta http-equiv="origin-trial"
		  data-feature="Mute in Picture-in-Picture window"
		  data-expires="2019-05-21"
		  content="AlTswX7XZLgX4u/FK+tnvgmPsG33QKw859iCSrQXz+AJQ5MnpfL9suF1/Z5WeGFgSvYHbLQ8zYI/hMOIv7K4MQMAAABieyJvcmlnaW4iOiJodHRwczovL25ldGZsaXguY29tOjQ0MyIsImZlYXR1cmUiOiJNdXRlQnV0dG9uIiwiZXhwaXJ5IjoxNTU5MDg3OTk5LCJpc1N1YmRvbWFpbiI6dHJ1ZX0=" />
	<link type="text/css"
		  rel="stylesheet"
		  href="https://codex.nflxext.com/%5E3.0.0/truthBundle/webui/1.22.5-shakti-css-v14727c69/css/css/less%7Ccore%7Cerror-page.less/1/0HyO3Mux8GLN/none/true/none"
		  data-uia="botLink" />
	<link type="text/css"
		  rel="stylesheet"
		  href="https://codex.nflxext.com/%5E3.0.0/truthBundle/webui/1.22.5-shakti-css-v14727c69/css/css/less%7Cpages%7CakiraClient.less/1/0HyO3Mux8GLN/none/true/none"
		  data-uia="botLink" />
	<link rel="shortcut icon"
		  href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.ico" />
	<script>
		/* Disable minification (remove `.min` from URL path) for more info */
	</script>
	<script async=""
			crossorigin="anonymous"
			id="player-core-js"
			src="https://assets.nflxext.com/en_us/ffe/player/html/cadmium-playercore-6.0026.690.011.js"></script>

	
</head>
<body>
	<div id="appMountPoint">
		<div class="netflix-sans-font-loaded">
			<div dir="ltr" class="">
				<div>
					<div class="bd dark-background"
						 lang="en-US"
						 data-uia="container-adult">
						<div class="pinning-header">
							<div class="pinning-header-container">
								<div class="main-header has-billboard menu-navigation"
									 role="navigation">
									<a aria-label="Netflix"
									   class="logo icon-logoUpdate active"
									   href="/browse"></a>
									<ul class="tabbed-primary-navigation">
										<li class="navigation-menu">
											<a class="menu-trigger"
											   role="button"
											   aria-haspopup="true"
											   tabindex="0">Browse</a>
										</li>
										<li class="navigation-tab">
											<a class="current active" href="/HomePage/Home">Home</a>
										</li>
										<li class="navigation-tab">
											<a href="/HomePage/TvShows">TV Shows</a>
										</li>
										<li class="navigation-tab">
											<a href="/HomePage/Movies">Movies</a>
										</li>
										<li class="navigation-tab">
											<a href="/HomePage/Latest">Latest</a>
										</li>
										<li class="navigation-tab">
											<a href="/HomePage/MyList">My List</a>
										</li>
									</ul>
									<div class="secondary-navigation">
										<div class="nav-element">
											<div class="searchBox">
												<button class="searchTab"
														tabindex="0"
														aria-label="Search"
														data-uia="search-box-launcher">
													<span class="icon-search"></span>
												</button>
											</div>
										</div>
										<div class="nav-element show-kids">
											<a href="/Kids">KIDS</a>
										</div>
										<div class="nav-element show-dvd">
											<a href="#">DVD</a>
										</div>
										<div class="nav-element">
											<span class="gifts" data-tooltip="gifts-tooltip">
												<a data-uia="action-click-gift-box"
												   class="gifts-menu"
												   aria-haspopup="true"
												   aria-label="Gifts"
												   href="/referfriends">
													<svg viewBox="0 0 20 21"
														 role="img"
														 aria-labelledby="gift-box"
														 class="gifts-menu__icon">
														<defs>
															<polygon id="path-1"
																	 points="9.09090909e-05 0 19.3881818 0 19.3881818 20.0960909 9.09090909e-05 20.0960909"></polygon>
														</defs>
														<g id="V1"
														   stroke="none"
														   stroke-width="1"
														   fill="none"
														   fill-rule="evenodd">
															<g id="Cell-4-2"
															   transform="translate(-1083.000000, -24.000000)">
																<g id="Group-3"
																   transform="translate(1083.000000, 24.000000)">
																	<mask id="mask-2" fill="white">
																		<use xlink:href="#path-1"></use>
																	</mask>
																	<g id="Clip-2"></g>
																	<path d="M18.0246364,10.087 C18.0246364,10.1733636 17.9519091,10.2460909 17.8655455,10.2460909 L17.6782727,10.2460909 L16.3146364,10.2460909 L3.07372727,10.2460909 L1.71009091,10.2460909 L1.52281818,10.2460909 C1.43645455,10.2460909 1.36372727,10.1733636 1.36372727,10.087 L1.36372727,7.56518182 C1.36372727,7.47790909 1.43645455,7.40518182 1.52281818,7.40518182 L9.01190909,7.40518182 L14.601,7.40518182 L17.8655455,7.40518182 C17.9519091,7.40518182 18.0246364,7.47790909 18.0246364,7.56518182 L18.0246364,10.087 Z M16.3146364,18.6624545 C16.3146364,18.6988182 16.281,18.7324545 16.2446364,18.7324545 L10.3755455,18.7324545 L10.3755455,11.6097273 L16.3146364,11.6097273 L16.3146364,18.6624545 Z M9.01190909,18.7324545 L3.14372727,18.7324545 C3.10645455,18.7324545 3.07372727,18.6988182 3.07372727,18.6624545 L3.07372727,11.6097273 L9.01190909,11.6097273 L9.01190909,18.7324545 Z M6.711,1.36336364 C7.94918182,1.36336364 8.95554545,2.37063636 8.95554545,3.60790909 L8.95554545,5.85245455 L6.711,5.85245455 C5.47372727,5.85245455 4.46645455,4.84518182 4.46645455,3.60790909 C4.46645455,2.37063636 5.47372727,1.36336364 6.711,1.36336364 L6.711,1.36336364 Z M10.3755455,4.95790909 C10.3755455,3.86972727 11.261,2.98518182 12.3491818,2.98518182 C13.4382727,2.98518182 14.3228182,3.86972727 14.3228182,4.95790909 C14.3228182,5.36063636 14.1973636,5.73063636 13.9882727,6.04154545 L10.3755455,6.04154545 L10.3755455,4.95790909 Z M17.8655455,6.04154545 L15.4928182,6.04154545 C15.6128182,5.70154545 15.6864545,5.33972727 15.6864545,4.95790909 C15.6864545,3.11790909 14.1891818,1.62063636 12.3491818,1.62063636 C11.491,1.62063636 10.7155455,1.95609091 10.1237273,2.49063636 C9.65009091,1.04972727 8.30827273,-0.000272727273 6.711,-0.000272727273 C4.72190909,-0.000272727273 3.10281818,1.61881818 3.10281818,3.60790909 C3.10281818,4.55245455 3.47736364,5.40245455 4.07554545,6.04154545 L1.52281818,6.04154545 C0.682818182,6.04154545 9.09090909e-05,6.72518182 9.09090909e-05,7.56518182 L9.09090909e-05,10.087 C9.09090909e-05,10.927 0.682818182,11.6097273 1.52281818,11.6097273 L1.71009091,11.6097273 L1.71009091,18.6624545 C1.71009091,19.4533636 2.35281818,20.0960909 3.14372727,20.0960909 L16.2446364,20.0960909 C17.0355455,20.0960909 17.6782727,19.4533636 17.6782727,18.6624545 L17.6782727,11.6097273 L17.8655455,11.6097273 C18.7055455,11.6097273 19.3882727,10.927 19.3882727,10.087 L19.3882727,7.56518182 C19.3882727,6.72518182 18.7055455,6.04154545 17.8655455,6.04154545 L17.8655455,6.04154545 Z"
																		  id="Fill-1"
																		  fill="#FFFFFF"
																		  mask="url(#mask-2)"></path>
																</g>
															</g>
														</g>
													</svg>
												</a>
											</span>
										</div>
										<div class="nav-element">
											<span class="notifications">
												<button class="notifications-menu"
														aria-haspopup="true"
														aria-expanded="false"
														aria-label="Notifications">
													<span class="icon-button-notification"></span>
												</button>
											</span>
										</div>
										<div class="nav-element">
											<div class="account-menu-item">
												<div class="account-dropdown-button">
													<a href="/YourAccount"
													   role="button"
													   tabindex="0"
													   aria-haspopup="true"
													   aria-expanded="false"
													   aria-label="CHurch - Account &amp; Settings">
														<span class="profile-link" role="presentation">
															<img class="profile-icon"
																 src="https://occ-0-851-853.1.nflxso.net/dnm/api/v6/0RO1pLmU93-gdXvuxd_iYjzPqkc/AAAABd0VJiB-jlZOa4mPM_JZLqrwJamcrjh4ZVC5RcX3P3tEVQ-uJNJ36uHQcaIQvtthwlh1Xj_6lCjDxONOY6wr8ow.png?r=f71"
																 alt="" />
														</span>
													</a><span class="caret" role="presentation"></span>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	@RenderBody()
	<div role="contentinfo" class="member-footer">
		<div class="social-links">
			<a class="social-link" href="https://www.facebook.com/netflixus" target="_blank" aria-label="facebook">
				<svg class="svg-icon svg-icon-facebook-logo" focusable="true">
					<use filter="" xlink:href="#facebook-logo"></use>
				</svg>
			</a>
			<a class="social-link" href="https://www.instagram.com/Netflix" target="_blank" aria-label="instagram">
				<svg class="svg-icon svg-icon-instagram-logo" focusable="true">
					<use filter="" xlink:href="#instagram-logo"></use>
				</svg>
			</a>
			<a class="social-link" href="https://twitter.com/netflix" target="_blank" aria-label="twitter">
				<svg class="svg-icon svg-icon-twitter-logo" focusable="true">
					<use filter="" xlink:href="#twitter-logo"></use>
				</svg>
			</a>
			<a class="social-link" href="https://www.youtube.com/user/NewOnNetflix" target="_blank" aria-label="youtube">
				<svg class="svg-icon svg-icon-youtube-logo" focusable="true">
					<use filter="" xlink:href="#youtube-logo"></use>
				</svg>
			</a>
		</div>
		<ul class="member-footer-links">
			<li class="member-footer-link-wrapper"><a class="member-footer-link" href="/browse/subtitles"><span class="member-footer-link-content">Audio and Subtitles</span></a></li>
			<li class="member-footer-link-wrapper"><a class="member-footer-link" href="/browse/audio-description"><span class="member-footer-link-content">Audio Description</span></a></li>
			<li class="member-footer-link-wrapper"><a class="member-footer-link" href="https://help.netflix.com/"><span class="member-footer-link-content">Help Center</span></a></li>
			<li class="member-footer-link-wrapper"><a class="member-footer-link" href="/redeem"><span class="member-footer-link-content">Gift Cards</span></a></li>
			<li class="member-footer-link-wrapper"><a class="member-footer-link" href="https://media.netflix.com/"><span class="member-footer-link-content">Media Center</span></a></li>
			<li class="member-footer-link-wrapper"><a class="member-footer-link" href="http://ir.netflix.com/"><span class="member-footer-link-content">Investor Relations</span></a></li>
			<li class="member-footer-link-wrapper"><a class="member-footer-link" href="https://jobs.netflix.com/"><span class="member-footer-link-content">Jobs</span></a></li>
			<li class="member-footer-link-wrapper"><a class="member-footer-link" href="https://help.netflix.com/legal/termsofuse"><span class="member-footer-link-content">Terms of Use</span></a></li>
			<li class="member-footer-link-wrapper"><a class="member-footer-link" href="https://help.netflix.com/legal/privacy"><span class="member-footer-link-content">Privacy</span></a></li>
			<li class="member-footer-link-wrapper"><a class="member-footer-link" href="https://help.netflix.com/legal/notices"><span class="member-footer-link-content">Legal Notices</span></a></li>
			<li class="member-footer-link-wrapper"><a class="member-footer-link" href="/Cookies"><span class="member-footer-link-content">Cookie Preferences</span></a></li>
			<li class="member-footer-link-wrapper"><a class="member-footer-link" href="https://help.netflix.com/legal/corpinfo"><span class="member-footer-link-content">Corporate Information</span></a></li>
			<li class="member-footer-link-wrapper"><a class="member-footer-link" href="https://help.netflix.com/contactus"><span class="member-footer-link-content">Contact Us</span></a></li>
		</ul>
		<div class="member-footer-service"><button class="service-code">OlaTv</button></div>
		<div class="member-footer-copyright">
			<span>
				© 1997-2020 Netflix, Inc.<!-- -->‎
			</span>
			<span class="member-footer-copyright-instance">{i-0c3bc7c90f02565ab}</span>
		</div>
	</div>
	<div class="image-preloaders"><span class="jawbone-images"></span></div>
</body>


</html>
