@using EntityLayer.Concrete
@model Language
@{
    ViewData["Title"] = "Language_Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Language Adding Page</h2>
<br />

@using (Html.BeginForm("Language_Add", "Language", FormMethod.Post, new { @class = "form-group" }))
{

    @Html.Label("Language Name")
    @Html.TextBoxFor(m=>m.LanguageName,new { @class = "form-control" })
    @Html.ValidationMessage("LanguageName",new { @class ="text-danger" })


    <br />

    <input class=" btn btn-primary" type="submit" value="Add" />
}
