body{
    background-color: #1f1f1f;
    overflow-x: hidden;
  }
  .title{
    font-size: 1.2em;
    font-family: Arial;
    color: #eee;
    margin: 30px 0 10px;
  }
  .container{
    width: 1400px;
    margin: 0 auto;
  }
  /* Main */
  .slider{
    width: 100%;
  }
  .slider-content{
    width: 100%;
    white-space: nowrap;
    transition: all 0.5s;
  }
  .slide{
    width: 16.66666666666667%;
    display: inline-block;
    position: relative;
    transition: all .5s;
    cursor: pointer;
  }
  .slider .slide:nth-child(6n){
    transform-origin: left center;
  }
  .slider .slide:nth-child(6n+6){
    transform-origin: right center;
  }
  .slide-content{
    width: 100%;
    padding: 2.5px;
    box-sizing: border-box;
  }
  .slide img{
    width: 100%;
    display: block;
  }
  .slide:nth-child(6n+1) .onhover{
    transform: translate(2.5px, -50%);
    left: 0%;
  }
  .slide:nth-child(6n+6) .onhover{
    transform: translate(-2.5px, -50%);
    right: 0%;
    left: initial;
  }
  .slide .onhover{
    width: calc(100% - 5px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
  }
  .onhover img{
    width: 100%;
  }
  
  /* Control Pagination */
  .control-pagination{
    margin: 30px 0;
  }
  .prev, .next{
    color: #fff;
    padding: 5px;
    cursor: pointer;
  }
  .prev:hover, .next:hover{
    color: #ccc;
  }