
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="masters" class="">
</div>


<div id="player" style="height: 10%;" class="pt-5">Loading the player...</div>





<div id="result">
</div>
<hr>
<!--
 <div class="container-fluid">
     <div class="text-center text-white h5 pb-3 pt-3">MORE LIKE THIS</div>

     <div class="pb-5" id="blockid">
      <div class="row" id="blockid">

        <div class="col-sm-12 col-lg-3 col-md-3 pb-3">
          <video src="https://netflix-videos-host.s3.ap-south-1.amazonaws.com/main-videos/THE+WITCHER+_+FINAL+TRAILER+_+NETFLIX.mp4" class="rounded img-thumbnail vt video" id="vt" poster="/htmls/images/slide1.jpg">

          </video>
          <div class="pt-2">
            <span class="text-white">Drive</span></br>
            <span class="text-muted ">2018</span><span class="text-muted pl-3 ">18+</span><span class="text-muted pl-3 ">Entertainment</span>
          </div>

          </div>
          <div class="col-sm-12 col-lg-3 col-md-3 pb-3">
            <video src="https://netflix-videos-host.s3.ap-south-1.amazonaws.com/main-videos/THE+WITCHER+_+FINAL+TRAILER+_+NETFLIX.mp4" class="rounded img-thumbnail vt video" id="vt" poster="/htmls/images/slide1.jpg">

            </video>
            <div class="pt-2">
              <span class="text-white">Drive</span></br>
              <span class="text-muted ">2018</span><span class="text-muted pl-3 ">18+</span><span class="text-muted pl-3 ">Entertainment</span>
            </div>

            </div>

            <div class="col-sm-12 col-lg-3 col-md-3 pb-3">
              <video src="https://netflix-videos-host.s3.ap-south-1.amazonaws.com/main-videos/THE+WITCHER+_+FINAL+TRAILER+_+NETFLIX.mp4" class="rounded img-thumbnail vt video" id="vt" poster="/htmls/images/slide1.jpg">

              </video>
              <div class="pt-2">
                <span class="text-white">Drive</span></br>
                <span class="text-muted ">2018</span><span class="text-muted pl-3 ">18+</span><span class="text-muted pl-3 ">Entertainment</span>
              </div>

              </div>

              <div class="col-sm-12 col-lg-3 col-md-3 pb-3">
                <video src="https://netflix-videos-host.s3.ap-south-1.amazonaws.com/main-videos/THE+WITCHER+_+FINAL+TRAILER+_+NETFLIX.mp4" class="rounded img-thumbnail vt video" id="vt" poster="/htmls/images/slide1.jpg">

                </video>
                <div class="pt-2">
                  <span class="text-white">Drive</span></br>
                  <span class="text-muted ">2018</span><span class="text-muted pl-3 ">18+</span><span class="text-muted pl-3 ">Entertainment</span>
                </div>

                </div>

      </div>
    </div>
 </div>
-->
